# A list is a sequence
a list is sequence of values. The values in list are called elements.

In [25]:
numbers = [10, 8]

In [26]:
names = ['Amol', 'Harsh', 'Kunal']

In [27]:
t= ['spam', 2.0,5,[10,20]]

In [28]:
empty = []

In [29]:
len(names)

3

In [30]:
names[0]

'Amol'

In [31]:
numbers
numbers[1] = 17
numbers

[10, 17]

In [32]:
'Amol' in names

True

In [33]:
'amol' in names
# Its case sensative.

False

In [34]:
t = ['spam', 2.0,5,[10,20]]
len(t)

4

In [35]:
10 in t

False

In [36]:
letters = ['a', 'b', 'c', 'd']
letters[1:3]

['b', 'c']

In [37]:
letters[:2]

['a', 'b']

In [38]:
letters[2:]

['c', 'd']

In [39]:
letters[:]

['a', 'b', 'c', 'd']

In [40]:
list(letters)

['a', 'b', 'c', 'd']

### List operations

Concatinations

In [41]:
t1 = [1 , 2]
t2 = [3, 4]
t1 + t2 # Using + signs

[1, 2, 3, 4]

In [42]:
['spam'] * 4

['spam', 'spam', 'spam', 'spam']

Using some mathematical functions on list

In [43]:
sum(t1)

3

In [44]:
# using min and max
min(t1)

1

In [45]:
max(t2)

4

### List Methods

In [46]:
# Append

letters.append('e')
letters

# Because list is mutable

['a', 'b', 'c', 'd', 'e']

In [47]:
# Append

letters.append('f', 'g')
letters

TypeError: list.append() takes exactly one argument (2 given)

In [ ]:
# use extend to append multiple elements
letters.extend(['f', 'g' ])
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

### To remove elements from list

In [ ]:
t = ['a', 'b', 'c']

In [ ]:
t.pop(1)

'b'

In [ ]:
t

['a', 'c']

In [ ]:
t.pop() # it will remove only last element

'c'

In [ ]:
t

['a']

In [ ]:
# If we don't know index then we can use "remove" 
t = ['a', 'b', 'c']

In [ ]:
t.remove('b')

In [ ]:
t

['a', 'c']

In [ ]:
t.remove('d')

ValueError: list.remove(x): x not in list

### List and Strings

In [ ]:
# Convert string in to list of characters

s = "Amol"
t = list(s)
t

# It breaks string into indivisul letters

['A', 'm', 'o', 'l']

In [ ]:
# TO break string into list of words use "split"
s = "Amol loves work on data"
t= s.split()
t

['Amol', 'loves', 'work', 'on', 'data']

In [ ]:
# TO split by delimeter

s = 'ex-employee'

t = s.split('-')
t

['ex', 'employee']

we can concatenate list of words into strings using join methode. but we need to declear the delimeter first and pass list as a argument.

FYI we are giving delimeter `' '` and `space` inbetween, so string can be readable. or any delimeter between `' '` will do the trick.

In [ ]:
delimeter = ' '
t = ['Amol', 'loves', 'Work', 'on', 'data']
s = delimeter.join(t)
s

'Amol loves Work on data'

In [ ]:
delimeter = ''
t = ['Amol', 'loves', 'Work', 'on', 'data']
s = delimeter.join(t)
s

'AmollovesWorkondata'

In [ ]:
delimeter = '-'
t = ['Amol', 'loves', 'Work', 'on', 'data']
s = delimeter.join(t)
s

'Amol-loves-Work-on-data'

Loopng through a list

In [ ]:
for name in names:
    print(name)

Amol
Harsh
Kunal

In [ ]:
s = 'Amol Loves Deep-learning'

for word in s.split():
    print(word)

Amol
Loves
Deep-learning

In [ ]:
for x in []:
    print('this is awesome')

### Sorting List

In [ ]:
scramble = ['c', 'a', 'b']
sorted(scramble)

['a', 'b', 'c']

In [ ]:
scramble

['c', 'a', 'b']

In [ ]:
sorted('letters')

['e', 'e', 'l', 'r', 's', 't', 't']

In [ ]:
''.join(sorted('letters'))

'eelrstt'

### Objects and values

In [ ]:
a = 'banana'
b = 'banana'

In [ ]:
a is b

True

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]

a is b

False

### Alising

In [49]:
a = [1, 2, 3]
b = a

b is a

True

In [50]:
b[0] = 5
a

[5, 2, 3]

In [51]:
a = 'banana'
b = 'banana'

### List arguments

In [52]:
def pop_first(lst):
    return lst.pop(0)

In [53]:
letters = ['a', 'b', 'c']
pop_first(letters)

'a'

In [54]:
letters

['b', 'c']

In [55]:
word_list = []
for line in open('words.txt'):
    word = line.strip()
    word_list.append(word)

len(word_list)

466550

In [56]:
string = open('words.txt').read()
len(string)

4862992

In [57]:
word_list = string.split()
len(word_list)

466550

In [64]:
'abuse' in word_list

True

In [65]:
word = 'plumage!'
word = word.strip('!')
word

'plumage'

In [83]:
t = [1, 2, 3]
t

[1, 2, 3]

In [84]:
t = t.remove(3)

In [85]:
t

In [86]:
# t = [1, 2, 3]
t.remove(2)

AttributeError: 'NoneType' object has no attribute 'remove'

In [81]:
t

[1, 3]

In [87]:
reversed('Amol')

In [88]:
list(reversed('Amol'))

['l', 'o', 'm', 'A']

In [91]:
''.join(reversed('Amol'))

'lomA'

In [92]:
def reverse_word(word):
    return ''.join(reversed(word))