# Tuples

### Tuples are like lists

In [1]:
t = 'a', 'm', 'o', 'l'

In [2]:
type(t)

tuple

In [3]:
t

('a', 'm', 'o', 'l')

In [4]:
t1 = 'a',  # To creating tuble of single word need to give ','
t1

('a',)

In [5]:
type(t1)

tuple

In [6]:
t2 = ('a') # A single value in parentheses is not a tuple.
type(t2)

str

In [7]:
t = tuple()
t

()

In [8]:
t = tuple('Amol')

In [9]:
t

('A', 'm', 'o', 'l')

In [10]:
t[0]

'A'

In [11]:
t[1:3] # slicing

('m', 'o')

In [12]:
tuple('Am') + ('o', 'l')

('A', 'm', 'o', 'l')

In [13]:
tuple('Amol') * 2

('A', 'm', 'o', 'l', 'A', 'm', 'o', 'l')

In [14]:
sorted(t) # sorted workes with tuple

['A', 'l', 'm', 'o']

In [15]:
reversed(t) # reversed also works with tuple

In [16]:
tuple(reversed(t))

('l', 'o', 'm', 'A')

In [17]:
t[::-1]

('l', 'o', 'm', 'A')

### But tuples are immutable

In [18]:
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [ ]:
t.remove('A')

AttributeError: 'tuple' object has no attribute 'remove'

Because tuples are immutable, they are hashable, which means they can be
used as keys in a dictionary. For example, the following dictionary contains
two tuples as keys that map to integers.

In [19]:
d = {}
d[1, 2] = 3
d[3, 4] = 7

In [20]:
d[1, 2]

3

In [21]:
t = (3, 4)
d[t]

7

### Tuple assingnment

In [22]:
a, b = 1, 2

In [23]:
a,b

(1, 2)

In [24]:
email = 'amol@python.org'
username, domain = email.split('@')

In [25]:
username, domain

('amol', 'python.org')

In [26]:
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

Tuple assignment is useful if you want to swap the values of two variables.
With conventional assignments, you have to use a temporary variable, like
this:

In [27]:
temp = a
a = b
b = temp

In [28]:
a, b

(2, 1)

In [29]:
a, b = b, a

In [30]:
a, b

(1, 2)

In [31]:
d = {'one': 1, 'two':2 }

for item in d.items():
    key ,value = item
    print(key, '->', value)

one -> 1
two -> 2

In [32]:
for key, value in d.items():
    print(key, '->', value)

one -> 1
two -> 2

In [33]:
### tuples as return values

divmod(7, 3)

(2, 1)

In [34]:
quotient, reminder = divmod(7, 3)
quotient

2

In [35]:
reminder

1

In [36]:
def min_max(t):
    return min(t), max(t)

max and min are built-in functions that find the largest and smallest elements
of a sequence. min_max computes both and returns a tuple of two values.

In [37]:
min_max([2, 4, 1, 3])

(1, 4)

In [38]:
low, high = min_max([2, 4, 1, 3])
low, high

(1, 4)

### Argument packing

In [39]:
def mean(*args):
    return sum(args) / len(args)

In [40]:
mean(1, 2, 3)

2.0

In [41]:
t = (7, 3)
divmod(t)

TypeError: divmod expected 2 arguments, got 1

In [42]:
divmod(*t)

(2, 1)

In [43]:
def trimmed_mean(*args):
    """First it uses min_max to find the lowest and highest elements. Then it
converts args to a list so it can use the remove method. Finally it unpacks
the list so the elements are passed to mean as separate arguments, rather than
as a single list."""
    low, high = min_max(args)
    trimmed = list(args)
    trimmed.remove(low)
    trimmed.remove(high)
    return mean(*trimmed)

In [44]:
mean(1, 2, 3, 10)

4.0

In [45]:
trimmed_mean(1, 2, 3, 10)

2.5

In [46]:
scores1 = [1, 2, 4, 5, 1, 5, 2]
scores2 = [5, 5, 2, 2, 5, 2, 3]

In [47]:
zip(scores1, scores2)

In [48]:
for pair in zip(scores1, scores2):
    print(pair)

(1, 5)
(2, 5)
(4, 2)
(5, 2)
(1, 5)
(5, 2)
(2, 3)

In [49]:
wins = 0
for team1, team2 in zip(scores1, scores2):
    if team1 > team2:
        wins += 1
wins

3

In [50]:
t = list(zip(scores1, scores2)) # it will make list of tuples

In [51]:
t[-1]

(2, 3)

In [52]:
t

[(1, 5), (2, 5), (4, 2), (5, 2), (1, 5), (5, 2), (2, 3)]

In [53]:
letters = 'abcdefghijklmnopqrstuvwxyz'
numbers = range(len(letters))
letter_map = dict(zip(letters, numbers))

In [54]:
letter_map['a'], letter_map['z']

(0, 25)

In [55]:
for index, element in enumerate(letters):
    print(index, element)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i
9 j
10 k
11 l
12 m
13 n
14 o
15 p
16 q
17 r
18 s
19 t
20 u
21 v
22 w
23 x
24 y
25 z

# Comparing and sorting

if you use the < operator with tuples, it starts by comparing the first element
from each sequence. If they are equal, it goes on to the next pair of elements,
and so on, until it finds a pair that differ.

In [56]:
(0, 1, 2) < (0, 3, 4)

True

In [57]:
(0, 1, 2000000) < (0, 3, 4)

True

In [58]:
def value_counts(string):
    """value_counts, which takes a
string and returns a dictionary that maps from each letter to the number of
times it appears."""
    counter = {}
    for letter in string:
        if letter not in counter:
            counter[letter] = 1
        else:
            counter[letter] += 1
    return counter

In [59]:
counter = value_counts('banana')
counter

{'b': 1, 'a': 3, 'n': 2}

In [60]:
item = counter.items()
item

dict_items([('b', 1), ('a', 3), ('n', 2)])

The result is a dict_items object that behaves like a list of tuples, so we
can sort it like this.

In [61]:
sorted(item)

[('a', 3), ('b', 1), ('n', 2)]

we want to use the second
element to sort the list. We can do that by writing a function that takes a tuple
and returns the second element.

In [62]:
def second_element(t):
    return t[1]

In [63]:
sorted_items = sorted(item, key=second_element)
sorted_items

[('b', 1), ('n', 2), ('a', 3)]

In [64]:
sorted_items[-1]

('a', 3)

In [65]:
max(item, key=second_element)

('a', 3)

In [66]:
d = value_counts('parrot')
d

{'p': 1, 'a': 1, 'r': 2, 'o': 1, 't': 1}

In [69]:
def invert_dict(d):
    """The for statement loops through the keys and values in d. If the value is not
already in the new dictionary, it is added and associated with a list that
contains a single element. Otherwise it is appended to the existing list."""
    new = {}
    for key, value in d.items():
        if value not in new:
            new[value] = [key]
        else:
            new[value].append(key)
    return new

In [70]:
invert_dict(d)

{1: ['p', 'a', 'o', 't'], 2: ['r']}

In [71]:
from structshape import structshape

In [73]:
t = [1, 2, 3, 4]
structshape(t)

'list of 4 int'

In [74]:
t2  = [[1, 2], [3, 4], [5, 6]]
structshape(t2)

'list of 3 list of 2 int'

In [76]:
t3 = [1, 2, 3, 4.0, '5', '6', [7], [8], 9]
structshape(t3)

'list of (3 int, float, 2 str, 2 list of int, int)'

In [77]:
s = 'abc'
lt = list(zip(t, s))
structshape(lt)

'list of 3 tuple of (int, str)'

In [78]:
d =dict(lt)
structshape(d)

'dict of 3 int->str'

In [79]:
letters = 'abcdefghijklmnopqrstuvwxyz'
numbers = range(len(letters))
letter_map = dict(zip(letters, numbers))

In [80]:
letter_map['a']

0

In [81]:
letters[1]

'b'